@font-face {
  font-family : "Roboto Regular";
  src         : url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family : "Roboto Bold";
  src         : url('../fonts/Roboto-Bold.ttf');
}

body {
  height           : 100vh;
  margin           : 0;
  padding          : 0;
  color            : #eeeeec;
  overflow         : hidden;
  overflow         : hidden;
  background-color : black;
  font-family      : sans-serif;
  font-family      : Roboto;
  font-weight      : 400;
}

h1 {
  color     : #ffffff;
  font-size : 1.5em;
}

h2 {
  margin-bottom : 0;
  color         : #8c8c8b;
  font-size     : 1.2em;
}

#app {
  width  : 100vw;
  height : 100vh;
}

.show-grid {
  z-index  : -2;
  display  : none;
  position : absolute;
}
