body {
  height           : 100vh;
  margin           : 0;
  padding          : 0;
  color            : #eeeeec;
  background-color : black;
  font-family      : sans-serif;
  font-family      : Roboto;
  font-weight      : 400;
}

h1 {
  color     : #ffffff;
  font-size : 1.5em;
}

h2 {
  margin-bottom : 0;
  color         : #8c8c8b;
  font-size     : 1.2em;
}

img {
  width : 15vh;
}

.grid {
  position : absolute;
}

.container {
  width         : 100%;
  margin-right  : auto;
  margin-left   : auto;
  padding-right : 0;
  padding-left  : 0;
}

.col-xs-12 {
  height  : calc(100vh / 6);
  padding : 0;
}

.show-grid .col-xs-12 {
  border-bottom : 1px solid white;
}

.show-grid .col-xs-1 {
  border-right : 1px solid white;
}

.col-xs-1 {
  height : calc(100vh / 6);
}

.show-grid .col-xs-1:first-child {
  border-left : 1px solid white;
}

.show-grid .col-xs-12:first-child {
  border-top : 1px solid white;
}
