html {
  -moz-box-sizing    : border-box;
  -webkit-box-sizing : border-box;
  box-sizing         : border-box;
}

*,
*:after,
*:before {
  box-sizing : inherit;
}

body {
  display         : flex;
  height          : 100vh;
  margin          : 0;
  padding         : 0;
  color           : #eeeeec;
  background      : cyan;
  text-align      : center;
  align-items     : center;
  font-family     : sans-serif;
  flex-direction  : column;
  justify-content : center;
  /**
   * background
   *
   *
   *
   *
   *
   * : #292929;
   */
}

h1,
h2 {
  background  : magenta;
  font-family : Roboto;
  font-weight : 400;
}

h1 {
  color     : #ffffff;
  font-size : 1.5rem;
}

h2 {
  margin-bottom : 0;
  color         : #8c8c8b;
  font-size     : 1.2rem;
}

p:first-child {
  font-weight : bold;
}

img {
  width  : 15vh;
  height : 15vh;
}
