.clock {
  width  : calc(100vw/12);
  height : calc(100vh/6);
}

.clock-frame {
  width         : calc(100vw/12);
  border        : 0.2em solid white;
  border-radius : 100%;
}

.clock-frame:before {
  content     : "";
  display     : block;
  padding-top : 100%;
}

.clock-center {
  z-index       : 2;
  position      : absolute;
  top           : calc(100vw/12 * 64 / 140);
  left          : calc(100vw/12 * 64 / 140);
  width         : calc(100vw/12 * 10 / 140);
  height        : calc(100vw/12 * 10 / 140);
  border-radius : calc(100vw/12 * 5 / 140);
  background    : white;
}

.clock .digits {
  position : absolute;
  top      : calc(100vw/12 * 15 / 140);
  left     : calc(100vw/12 * 15 / 140);
  width    : calc(100vw/12 * 110 / 140);
  margin   : 0;
  padding  : 0;
}

.clock .digits:before {
  content     : "";
  display     : block;
  padding-top : 100%;
}

.clock .digits li {
  display       : block;
  position      : absolute;
  width         : calc(100vw/12 * 18 / 140);
  height        : calc(100vw/12 * 18 / 140);
  margin        : 0;
  padding       : 0;
  border-radius : 9px;
  text-align    : center;
  font-family   : Roboto Regular;
  font-size     : 14px;
  line-height   : 18px;
}

.clock .digits li a {
  color           : rgba(255, 255, 255, 0.8);
  text-decoration : none;
  transition      : color .4s;
}

.clock .digits li:nth-child(1) {
  top          : 7%;
  right        : 25%;
  margin-top   : -9px;
  margin-right : -9px;
}

.clock .digits li:nth-child(2) {
  top          : 25%;
  right        : 7%;
  margin-top   : -9px;
  margin-right : -9px;
}

.clock .digits li:nth-child(3) {
  top          : 50%;
  right        : 0;
  margin-top   : -9px;
  margin-right : -9px;
}

.clock .digits li:nth-child(4) {
  right         : 7%;
  bottom        : 25%;
  margin-right  : -9px;
  margin-bottom : -9px;
}

.clock .digits li:nth-child(5) {
  right         : 25%;
  bottom        : 7%;
  margin-right  : -9px;
  margin-bottom : -9px;
}

.clock .digits li:nth-child(6) {
  bottom        : 0;
  left          : 50%;
  margin-bottom : -9px;
  margin-left   : -9px;
}

.clock .digits li:nth-child(7) {
  bottom        : 7%;
  left          : 25%;
  margin-bottom : -9px;
  margin-left   : -9px;
}

.clock .digits li:nth-child(8) {
  bottom        : 25%;
  left          : 7%;
  margin-bottom : -9px;
  margin-left   : -9px;
}

.clock .digits li:nth-child(9) {
  top         : 50%;
  left        : 0;
  margin-top  : -9px;
  margin-left : -9px;
}

.clock .digits li:nth-child(10) {
  top         : 25%;
  left        : 7%;
  margin-top  : -9px;
  margin-left : -9px;
}

.clock .digits li:nth-child(11) {
  top         : 7%;
  left        : 25%;
  margin-top  : -9px;
  margin-left : -9px;
}

.clock .digits li:nth-child(12) {
  top         : 0%;
  left        : 50%;
  margin-top  : -9px;
  margin-left : -9px;
}

.clk-hourhand {
  left       : calc(100vw/12 * 68 / 140);
  width      : calc(100vw/12 * 4 / 140);
  height     : calc(100vw/12 * 25 / 140);
  background : rgba(255, 255, 255, 0.8);
}

.clk-minutehand {
  left       : calc(100vw/12 * 68 / 140);
  width      : calc(100vw/12 * 4 / 140);
  height     : calc(100vw/12 * 42 / 140);
  background : rgba(255, 255, 255, 0.8);
}

.clk-secondhand {
  left       : calc(100vw/12 * 69 / 140);
  width      : calc(100vw/12 * 2 / 140);
  height     : calc(100vw/12 * 42 / 140);
  background : red;
}

.clk-hourhand,
.clk-minutehand,
.clk-secondhand {
  position                 : absolute;
  top                      : calc(100vw/12 * 70 / 140);
  -moz-transform-origin    : top center;
  -ms-transform-origin     : top center;
  -o-transform-origin      : top center;
  -webkit-transform-origin : top center;
  transform-origin         : top center;
}
