.rssfeed {
  overflow-y: auto;
  font-family: Roboto Regular;
  padding-left: 10px;
  padding-right: 10px;
}

.rssfeed::-webkit-scrollbar {
    display: none;
}

.rssfeed li {
  list-style-type: none;
  border-bottom:1px solid #c2c2c2;
  margin-bottom:15px;
}

.rssfeed p {
  margin: 0 0 10px;
  display: flex;
  flex-flow: row nowrap;
  text-align: justify;
}

.rssfeed img {
  vertical-align: middle;
  margin-left: 10px;
}

.rssfeed p:first-child {
    font-weight: bold;
}
