.nextDaysWeatherContainer {
    border: "1px solid white";
    display: "flex";
    flex-flow: "row nowrap";
    justify-content: "space-around";
}

.bot-box {
    width: 33%;
    text-align: center;
}

.bot-box:not(:last-child) {
    border-right: 1px solid white;
}

.weather {
  min-width: 400px;
  min-height: 221px;
  width: 400px;
  height: 221px;
}
