.nextDaysWeatherContainer {
  display                    : flex;
  padding                    : 5px 6px 5px 5px;
  border-right               : 1px solid white;
  border-bottom              : 1px solid white;
  border-left                : 1px solid white;
  border-bottom-right-radius : 25px;
  border-bottom-left-radius  : 25px;
  flex-flow                  : row nowrap;
  justify-content            : space-around;
}

.bot-box {
  width : 33%;
}

.bot-box:first-child {
  border-right : 1px solid white;
}

.bot-box:last-child {
  border-left : 1px solid white;
}

.weather {
  width       : calc(100vw/12 * 3);
  min-width   : calc(100vw/12 * 3);
  min-height  : calc(100vh/12 * 2);
  font-family : Roboto Regular;
  /* 240px */
}

.currentWeather {
  padding                 : 5px;
  border-top              : 1px solid white;
  border-right            : 1px solid white;
  border-left             : 1px solid white;
  border-top-left-radius  : 25px;
  border-top-right-radius : 25px;
}

.paddingWeatherIcon {
  padding-top : 10px;
}
