.webcam {
  display         : flex;
  height          : 100%;
  background      : black;
  flex-flow       : column;
  justify-content : center;
}

.webcam video {
  width  : 100%;
  height : 100%;
}
